---
import type { Props } from '@astrojs/starlight/props'

const isHomepage = Astro.locals.starlightRoute.slug === '';
---

<h1 id="_top" class={isHomepage ? 'home' : ''}>{Astro.locals.starlightRoute.entry.data.title}</h1>

<style>
h1 {
  margin-top: 1rem;
  font-size: var(--sl-text-h1);
  line-height: var(--sl-line-height-headings);
  font-weight: 600;
  color: var(--sl-color-white);
}

h1.home {
  text-align: center;
}
</style>
