name: test
on:
  push:
    branches: main
    paths-ignore:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
    tags-ignore:
      - '*'
  pull_request:
    branches: main
    paths-ignore:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
jobs:
  test:
    uses: ./.github/workflows/test-jobs.yaml
